@media screen and (max-width: 767px) {
  .image-agents {
    position: relative;
    object-fit: cover;
    max-width: 100%;
    margin-top: 0;
    z-index: 0;
    height: 22em;
  }

  p {
    font-family: podium;
  }

  .title-team-meet {
    font-size: larger;
    margin-top: -4%;
    color: #373e41;
    font-family: DIN Next LT Arabic;
    position: relative;
    margin-left: 4%;
  }

  .arrowDown {
    transition: s linear;
    transform: rotate(-180deg);
  }

  .wrapper {
    margin-top: 8%;
    margin-left: 10%;
    margin-bottom: 40%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
  }

  .select-btn {
    font-family: DIN Next LT Arabic;
    width: 74%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 4em;
    text-align: center;
    border: 1px solid black;
  }

  .select-content .options {
    max-height: 10em;
    padding-left: 0;
    margin-top: 0;
    overflow-y: auto;
  }

  .options li {
    padding-left: 4%;
    display: flex;
    align-items: center;
    font-family: DIN Next LT Arabic;
    font-size: larger;
    height: 3em;
    list-style-type: none;
    cursor: pointer;
  }

  .options li:hover,
  .options li:active {
    background-color: #373e41;
  }

  .select-content {
    position: relative;
    background-color: #ece8e1;
    margin-top: -50%;
    height: 10em;
    border: 1px solid #373e41;
    width: 74%;
    border-bottom: none;
  }

  .select-btn img {
    width: 8%;
  }

  .text-intro {
    margin-left: 4%;
    font-size: large;
    font-family: DIN Next LT Arabic;
    color: #58656b;
  }

  .title-agent {
    display: block;
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 270%;
    color: #ece8e1;
    z-index: 2;
    margin-left: 4%;
  }
}
